body{
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 100%;
    display: block;
    background-image: URL("../img/fondo2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
body::-webkit-scrollbar {
    margin-top: 50px;
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
     display: none;  /*Ocultar scroll */
} 

body::-webkit-scrollbar-thumb:active {
    background-color: #69b329fe;
}

main{
    position: relative;
    z-index: -10;
}
#conocenos{
    display: -1px;   
}

.contenedorFlex{
    width: 100%;
    /* margin-left: -2%; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.informacion{
    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: 2%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: -65%; */
    border-radius: 10px; /* Redondear los bordes con un radio de 10px */
    margin-bottom: 1%;
    background-color: rgba(41, 49, 6, 0.313);
}

#Mision{
    padding-top: 0px;
}

.titulosConocenos{
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    color: white;
    text-align: center;
    letter-spacing: 3px;
}

.textoConocenos{
    width: 95%;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-size: 18px;
    color: white;
    text-shadow:
    1px 1px 2px black,
    0 0 1em rgba(0,0,0,0.18),
    0 0 0.2em rgba(0,0,0,0.18);
    text-align: justify;
    margin-top: -1%;
    line-height: 1.7rem;
}