@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 100%;
    display: block;
    background-image: url("../img/fondo3.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
     overflow-y:hidden;
    /*overflow-x: none; */
}

body::-webkit-scrollbar {
    /* margin-top: 50px; */
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
    display: none; /* Ocultar scroll */
} 

.bx-menu{
    font-size: 50px;
    background-color: transparent;
    border: none;
}
.bx-menu:hover{
    transform: scale(1.1);
}

.bx-menu:active{
    transform: scale(0.9);
}

.bxs-user{
    margin-right: 10px;
    font-weight: 700;
    color: #1b3039;
    padding: 15px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 30px;
}

.bxs-user:hover{
    background-color: #e2f1f8 ;
    color: #ffbc0e;
    transform: scale(1.1);
    /* font-size: 33px; */
}

.menu-desplegable {
    position: absolute;
    top: 29px; /* Ajusta esta altura según la altura de tu barra de navegación */
    right: 115px;
    width: 200px;
    border-radius: 7px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 10; /* Asegúrate de que el menú desplegable esté por encima del resto de los elementos */
}

.menu-desplegable ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-desplegable ul li {
    padding: 10px;
}

.menu-desplegable ul li a {
    text-decoration: none;
    color: #333;
}

.menu-desplegable ul li a:hover {
    background-color: #f0f0f0;
}

.container{
    width: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#div_busqueda{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

.barra{
    width: 50%;
    height: 40px;
    background-color: rgba(240, 248, 255, 0.459);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;

    display: flex;
    justify-content: end;
}

.barra i{
    font-size: 35px;
    padding-top: 7px;
    padding-left: 3px;
}

#contenedor_opciones{
    width: 100%;
    overflow-y:scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#contenedor_opciones::-webkit-scrollbar {
    background-color: transparent;
    border-radius: 4px;
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
} 

#contenedor_opciones::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 4px;
}

#contenedor_opciones::-webkit-scrollbar-thumb:hover {
    background: #74c42dce;
    box-shadow: 0 0 2px 5px rgba(0, 0, 0, 0.2);
}

#contenedor_opciones::-webkit-scrollbar-thumb:active {
    background-color: #69b329fe;
}

.card{
    width: 29%;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    padding: 0px 0px 10px 0px;
    margin: 2%;
    color: whitesmoke;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.324);
    background-color: rgba(255, 255, 255, 0.208);
}

.card img{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card h3{
    font-size:2.3vw;
    width: 100%;
    text-align: center;
}

.etiquetas{
    padding: 0px 2px 0px 2px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

}

p{
    padding:0px 10px 0px 10px;
}

.etiquetas p{
    border-radius: 10px;
    background-color: #ffbb0e6a;
    font-size: 1.1vw;
    margin: 3px;
}

.descripcion_beca, .descripcion_beca strong{
    margin-top: 5px;
    font-size: 1.5vw;
    font-weight: 400;
    font-family: "Quicksand", sans-serif;
}